config/.env
forAD/.env
__pycache__/
*.pyc
.venv/

frontend/node_modules/
frontend/dist/

data/source/*
!data/source/.gitkeep

data/network_ready/*
!data/network_ready/.gitkeep

data/needs_confirmation/*
!data/needs_confirmation/.gitkeep

data/error/*
!data/error/.gitkeep
